/* ----------------- */

.image-rect-tool {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-viewer {
  padding: 1em;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
}

.image-viewer-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-viewer-controls {
  display: flex;
  justify-items: flex-start;
  width: 100%;
  color: white;
  background-color: black;
  flex-grow: 0;
  align-items: center;
  padding: 0.6em;
}

.image-viewer-controls div:nth-child(2) {
  margin-left: 1em;
}

.image-viewer-controls label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.image-viewer-controls select {
  padding: 0.1em;
  width: 18em;
}

/* ----------- */

.image-viewer-info {
  flex-grow: 0;
  padding: 0.2em;
  background-color: black;
}

.image-viewer-controls-monitor {
  background-color: white;
  color: black;
  z-index: 300;
  display: inline-block;
  padding: 3px;
  border: 1px solid black;
  cursor: copy;
}

.EditorBorder {
  padding: 16px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

.EditorWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
